@page "/addBook"
@using Greet
@using Microsoft.AspNetCore.Authorization
@inject Greeter.GreeterClient GreeterClient
@attribute [Authorize]
<h1>Dodaj książkę</h1>


<button class="btn btn-primary" @onclick="SeyHelloTo_gRPC">Dodaj książkę do bazy</button>
<p>
    <b>@serverReply</b>
</p>

@code {
    private static string serverReply;

    private async Task SeyHelloTo_gRPC()
    {
        await Greeter();
    }

    public async Task Greeter()
    {
        var reply = await GreeterClient.SayHelloAsync(new HelloRequest {Name = "Hello world"});
        serverReply = reply.Message;
    }
}