@page "/counter"
@using Greet
@using Microsoft.AspNetCore.Authorization
@inject Greeter.GreeterClient GreeterClient
@attribute [Authorize]
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SeyHelloTo_gRPC">Sey Hello World</button>
<p>
    <b>@serverReply</b>
</p>

@code {
    private static int currentCount = 0;
    private static string serverReply;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task SeyHelloTo_gRPC()
    {
        await Greeter();
    }

    public async Task Greeter()
    {
        var reply = await GreeterClient.SayHelloAsync(new HelloRequest {Name = "Hello world"});
        serverReply = reply.Message;
    }
}