@page "/counter"
@using Grpc.Net.Client.Web
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SeyHelloTo_gRPC">Sey Hello World</button>
<p><b>@serverReply</b></p>

@code {
    private static int currentCount = 0;
    private static string serverReply;

    private void IncrementCount()
    {
        currentCount++;
    }
    private async Task SeyHelloTo_gRPC()
    {
        await Greeter();
    }
    public static async Task Greeter()
    {
        using var channel = GrpcChannel.ForAddress("https://localhost:5001", new GrpcChannelOptions
        {
            HttpHandler = new GrpcWebHandler(new HttpClientHandler())
        });
        var client = new Greet.Greeter.GreeterClient(channel);
        var reply = await client.SayHelloAsync(
                          new Greet.HelloRequest { Name = currentCount.ToString() });
        serverReply = reply.Message;
    }
}
