@page "/createPlayer"
@using SolutionShared
@inject PlayerControllerProto.PlayerController.PlayerControllerClient PlayerControllerClient
@attribute [Authorize]

@code {
    private static string serverMessage;
    private static string errorMessage;
    private static string nick;
    private static bool isRegisterHidden = true;

    protected override async Task OnInitializedAsync()
    {
        await CheckPlayerAsync();
    }

    private async Task TryCreatePlayer()
    {
        ClearText();
        if (InputValidationCheck.Nick(nick))
        {

            await CreatePlayerAsync();
        }
        else
        {
            errorMessage = "Podaj nick [4-20]";
        }
    }

    public async Task CreatePlayerAsync()
    {
        ClearText();
        var reply = await PlayerControllerClient.CreatePlayerAsync(new PlayerControllerProto.CreateRequest { Nick = nick });
        if (reply.Status == "ok")
        {
            serverMessage = "Postać została uworzona.";
            isRegisterHidden = true;
        }
        else if (reply.Status == "nick_exist")
        {
            serverMessage = "Podany nick już istnieje spróbuj inny.";
        }else
        {
            serverMessage = "Nieznany błąd.";
        }
    }

    public async Task CheckPlayerAsync()
    {
        ClearText();
        var reply = await PlayerControllerClient.CheckPlayerAsync(new PlayerControllerProto.CheckRequest { });
        if (reply.IsUserHavePlayer)
        {
            errorMessage = "Już posiadasz JEDNĄ postać o nick-u: " + reply.Nick;
        }
        else
        {
            isRegisterHidden = false;
        }
    }
    private void ClearText()
    {
        serverMessage = "";
        errorMessage = "";
    }
}
<p>
    <b style="color:red">@errorMessage</b>
</p>
<p>
    <b>@serverMessage</b>
</p>
<br />
<div id="createPlayer" hidden="@isRegisterHidden">
    <input @bind="nick" type="text" placeholder="Podaj nick" autofocus />
    <br />
    <button class="btn btn-primary" @onclick="TryCreatePlayer">Utwórz</button>
</div>
