@page "/createPlayer"
@attribute [Authorize]

@code {
    private static string serverMessage;
    private static string errorMessage;
    private static string nick;
    private static bool isRegisterHidden = true;

    protected override async Task OnInitializedAsync()
    {
        await CheckPlayerAsync();
    }
    private async Task TryCreatePlayer()
    {
        ClearText();
        if (InputValidationCheck.Nick(nick))
        {

            await CreatePlayerAsync();
        }
        else
        {
            errorMessage = "Podaj nick [4-20]";
        }
    }
    private async Task CreatePlayerAsync()
    {
        var reply = await PlayerControllerClient.CreatePlayerAsync(new PlayerControllerProto.CreateRequest { Nick = nick });
        if (reply.Status == "ok")
        {
            serverMessage = "Postać została uworzona.";
            isRegisterHidden = true;
            Navigation.NavigateTo($"/player");
        }
        else if (reply.Status == "nick_exist")
        {
            serverMessage = "Podany nick już istnieje spróbuj inny.";
        }
        else
        {
            serverMessage = "Nieznany błąd.";
        }
    }
    public async Task CheckPlayerAsync()
    {
        ClearText();
        var reply = await PlayerControllerClient.CheckPlayerAsync(new PlayerControllerProto.EmptyRequest { });
        if (reply.IsUserHavePlayer)
        {
            Navigation.NavigateTo($"/");
        }
        else
        {
            isRegisterHidden = false;
        }
    }
    private void ClearText()
    {
        serverMessage = "";
        errorMessage = "";
    }
}

<h3>Stwórz postać</h3>
<p>
    <b style="color:red">@errorMessage</b>
</p>
<p>
    <b>@serverMessage</b>
</p>
<br />
<div id="createPlayer" hidden="@isRegisterHidden">
    <input @bind="nick" type="text" placeholder="Podaj nick" autofocus />
    <br />
    <button class="btn btn-primary" @onclick="TryCreatePlayer">Utwórz</button>
</div>
